services:
  app:
    build:
      context: ./src
      dockerfile: Dockerfile
    ports:
      - target: 3030
        published: 3030
        protocol: tcp
        mode: ingress
    environment:
      - NODE_ENV=production
