services:
  app:
    # uncomment to add your own domain
    # domainname: example.com
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports: 
      - target: 8080
        published: 8080
        mode: ingress
    deploy:
      resources:
        reservations:
          memory: 256M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]