name: nextjs
services:
  app:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - target: 3000
        mode: ingress
        published: 3000
    healthcheck:
      test: wget -q --spider http://localhost:3000/ || exit 1
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
