name: nextjs-railpack
services:
  app:
    restart: unless-stopped
    build:
      context: ./app
    ports:
      - target: 3000
        mode: ingress
        published: 3000
    environment:
      PORT: 3000
    deploy:
      resources:
        reservations:
          cpus: "0.25"
          memory: 256M
