name: svelte-mysql
services:
  db:
    restart: unless-stopped
    image: mysql:latest
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: todoApp
      MYSQL_USER: admin
      MYSQL_PASSWORD: Defang12345
    volumes:
    - mysql_data:/var/lib/mysql
    ports:
    - mode: host
      target: 3306
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
  app:
    restart: unless-stopped
    build: ./app
    environment:
      DATABASE_HOST: db
      DATABASE_USER: admin
      DATABASE_PASSWORD: Defang12345
      DATABASE_NAME: todoApp
    ports:
    - 3001:3001
    depends_on:
    - db
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:3001/
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
volumes:
  mysql_data: null
