name: agentic-langgraph
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - target: 3000
        published: 3000
        mode: ingress
    environment:
      TAVILY_API_KEY: null
      LLM_URL: http://llm/api/v1/
      LLM_MODEL: default
      OPENAI_API_KEY: FAKE_TOKEN
    depends_on:
      - llm
    deploy:
      resources:
        reservations:
          cpus: "0.5"
          memory: 512M
  llm:
    environment:
      - OPENAI_API_KEY=FAKE_TOKEN
    image: defangio/openai-access-gateway:latest
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: host
    x-defang-llm: true
    deploy:
      resources:
        reservations:
          cpus: 0.25
          memory: 512MB
