services:
  app:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
    - mode: ingress
      target: 3000
      published: 3000
    environment:
    - AWS_ACCESS_KEY
    - AWS_SECRET_KEY
    deploy:
      resources:
        reservations:
          memory: 256M
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:3000/
name: nodejs-s3
