name: nextjs
services:
  sveltekit:
    restart: unless-stopped
    # domainname: mydomain.com # if you want to use your own domain
    build:
      context: ./sveltekit
      dockerfile: Dockerfile
    ports:
      - target: 3000
        mode: ingress
        published: 3000
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M