name: csharp-dotnet
services:
  web:
    image: csharp-dotnet
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
    - target: 80
      published: 8080
      mode: ingress
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
