name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Deploy
        with:
          config-env-vars: POSTGRES_PASSWORD JUPYTER_TOKEN
        uses: DefangLabs/defang-github-action@v1.3.2
        env:
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          JUPYTER_TOKEN: ${{ secrets.JUPYTER_TOKEN }}
