services:
  app:
    restart: unless-stopped
    build:
      context: ./app
    environment:
      PORT: 5173
    ports:
    - target: 5173
      published: 5173
      mode: ingress
    deploy:
      resources:
        reservations:
          memory: 512M
name: react-vite-railpack
