
body { height: 0px; }
.txtcnt { text-align: center; }
.logo { max-width: 10em; margin: 1em auto; font-size: 30px}
.appstore { width: 49%; max-width: 168px; }
.mbot { margin-bottom: 50px; }
* { box-sizing: border-box; }
html { font-size: 62.5%; }
body { background-color: white; font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1; color: rgb(34, 34, 34); position: relative; -webkit-font-smoothing: antialiased; background-position: initial initial; background-repeat: initial initial; }
a { color: rgb(43, 166, 203); text-decoration: none; line-height: inherit; }
a:hover { color: rgb(39, 149, 182); }
a:focus { color: rgb(43, 166, 203); outline: none; }
p a, p a:visited { line-height: inherit; }
figure { margin: 0px; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td { margin: 0px; padding: 0px; font-size: 14px; direction: ltr; }
p { font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.6; margin-bottom: 17px; }
aside p { font-size: 13px; line-height: 1.35; font-style: italic; }
h1, h2, h3, h4, h5, h6 { font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; font-weight: bold; color: rgb(34, 34, 34); text-rendering: optimizelegibility; line-height: 1.1; margin-bottom: 14px; margin-top: 14px; }
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { font-size: 60%; color: rgb(111, 111, 111); line-height: 0; }
h1 { font-size: 44px; }
h2 { font-size: 37px; }
h3 { font-size: 27px; }
h4 { font-size: 23px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
hr { border-style: solid; border-color: rgb(221, 221, 221); border-width: 1px 0px 0px; clear: both; margin: 22px 0px 21px; height: 0px; }
.subheader { line-height: 1.3; color: rgb(111, 111, 111); font-weight: 300; margin-bottom: 17px; }
em, i { font-style: italic; line-height: inherit; }
strong, b { font-weight: bold; line-height: inherit; }
small { font-size: 60%; line-height: inherit; }
code { font-weight: bold; background-color: rgb(255, 255, 153); background-position: initial initial; background-repeat: initial initial; }
ul, ol { font-size: 14px; line-height: 1.6; margin-bottom: 17px; list-style-position: inside; }
ul li ul, ul li ol { margin-left: 20px; margin-bottom: 0px; }
ol li ul, ol li ol { margin-left: 20px; margin-bottom: 0px; }
blockquote, blockquote p { line-height: 1.5; color: rgb(111, 111, 111); }
blockquote { margin: 0px 0px 17px; padding: 9px 20px 0px 19px; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(221, 221, 221); }
blockquote cite { display: block; font-size: 13px; color: rgb(85, 85, 85); }
blockquote cite::before { content: '— '; }
blockquote cite a, blockquote cite a:visited { color: rgb(85, 85, 85); }
abbr, acronym { text-transform: uppercase; font-size: 90%; color: rgb(34, 34, 34); border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(221, 221, 221); cursor: help; }
abbr { text-transform: none; }
.print-only { display: none !important; }
form { margin: 0px 0px 19.41641px; }
.row form .row { margin: 0px -6px; }
.row form .row .column, .row form .row .columns { padding: 0px 6px; }
.row form .row.collapse { margin: 0px; }
.row form .row.collapse .column, .row form .row.collapse .columns { padding: 0px; }
label { font-size: 14px; color: rgb(77, 77, 77); cursor: pointer; display: block; font-weight: 500; margin-bottom: 3px; }
.prefix, .postfix { display: block; position: relative; z-index: 2; text-align: center; width: 100%; padding-top: 0px; padding-bottom: 0px; height: 32px; line-height: 31px; }
a.button.prefix, a.button.postfix { padding-left: 0px; padding-right: 0px; text-align: center; }
span.prefix, span.postfix { background-color: rgb(242, 242, 242); border: 1px solid rgb(204, 204, 204); background-position: initial initial; background-repeat: initial initial; }
.postfix { right: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; }
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea { font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; border: 1px solid rgb(204, 204, 204); border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; -webkit-box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px inset; box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px inset; color: rgba(0, 0, 0, 0.74902); display: block; font-size: 14px; margin: 0px 0px 12px; padding: 6px; height: 32px; width: 100%; transition: background-color 0.15s linear; -webkit-transition: background-color 0.15s linear; }
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus { background-color: rgb(250, 250, 250); border-color: rgb(179, 179, 179); outline: none !important; }
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] { background-color: rgb(221, 221, 221); }
textarea { height: auto; }
select { width: 100%; }
fieldset { border: 1px solid rgb(221, 221, 221); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; padding: 12px 12px 0px; margin: 18px 0px; }
fieldset legend { font-weight: bold; background-color: white; padding: 0px 3px; margin: 0px 0px 0px -3px; background-position: initial initial; background-repeat: initial initial; }
form.custom div.custom.dropdown.expand { width: 100% !important; }
form.custom div.custom.dropdown.open.expand ul { width: 100% !important; }
.row { width: 1000px; max-width: 100%; min-width: 768px; margin: 0px auto; }
.row .row { width: auto; max-width: none; min-width: 0px; margin: 0px -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0px; }
.row .row { width: auto; max-width: none; min-width: 0px; margin: 0px -15px; }
.row .row.collapse { margin: 0px; }
.column, .columns { float: left; min-height: 1px; padding: 0px 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0px auto; }
[class*="column"] + [class*="column"]:last-child { float: right; }
.one, .row .one { width: 8.33333%; }
.two, .row .two { width: 16.66667%; }
.three, .row .three { width: 25%; }
.four, .row .four { width: 33.33333%; }
.five, .row .five { width: 41.66667%; }
.six, .row .six { width: 50%; }
.seven, .row .seven { width: 58.33333%; }
.eight, .row .eight { width: 66.66667%; }
.nine, .row .nine { width: 75%; }
.ten, .row .ten { width: 83.33333%; }
.eleven, .row .eleven { width: 91.66667%; }
.twelve, .row .twelve { width: 100%; }
.row .offset-by-one { margin-left: 8.33333%; }
.row .offset-by-two { margin-left: 16.66667%; }
.row .offset-by-three { margin-left: 25%; }
.row .offset-by-four { margin-left: 33.33333%; }
.row .offset-by-five { margin-left: 41.66667%; }
.row .offset-by-six { margin-left: 50%; }
.row .offset-by-seven { margin-left: 58.33333%; }
.row .offset-by-eight { margin-left: 66.66667%; }
.row .offset-by-nine { margin-left: 75%; }
.row .offset-by-ten { margin-left: 83.33333%; }
img, object, embed { max-width: 100%; height: auto; }
object, embed { height: 100%; }
.row::before, .row::after { content: ''; display: table; }
.row::after { clear: both; }
@media only screen and (max-width:767px) {
  body { width: 100%; min-width: 0px; margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px; }
  .row { width: auto; min-width: 0px; margin-left: 0px; margin-right: 0px; }
  .row .mobile-one { float: left; padding: 0px 15px; width: 25% !important; }
  .row .mobile-one:last-child { float: right; }
  .row .mobile-one.end { float: left; }
  .row.collapse .mobile-one { padding: 0px; }
  .row .mobile-three { float: left; padding: 0px 15px; width: 75% !important; }
  .row .mobile-three:last-child { float: right; }
  .row .mobile-three.end { float: left; }
  .row.collapse .mobile-three { padding: 0px; }
  .row .mobile-four { float: left; padding: 0px 15px; width: 100% !important; }
  .row .mobile-four:last-child { float: right; }
  .row .mobile-four.end { float: left; }
  .row.collapse .mobile-four { padding: 0px; }
}
.button { width: auto; background-color: rgb(43, 166, 203); border: 1px solid rgb(30, 114, 140); -webkit-box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset; box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px inset; color: white; cursor: pointer; display: inline-block; font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif; font-size: 14px; font-weight: bold; line-height: 1; margin: 0px; outline: none; padding: 10px 20px 11px; position: relative; text-align: center; text-decoration: none; transition: background-color 0.15s ease-in-out; -webkit-transition: background-color 0.15s ease-in-out; background-position: initial initial; background-repeat: initial initial; }
.button:hover { color: white; background-color: rgb(34, 132, 161); }
.button:active { -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px inset; box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px inset; }
.button:focus { -webkit-box-shadow: rgb(43, 166, 203) 0px 0px 4px, rgba(255, 255, 255, 0.498039) 0px 1px 0px inset; box-shadow: rgb(43, 166, 203) 0px 0px 4px, rgba(255, 255, 255, 0.498039) 0px 1px 0px inset; color: white; }
.button.expand { width: 100%; text-align: center; }
input[type="submit"].button, button.button { -webkit-appearance: none; }
@media only screen and (max-width:767px) {
  .button { display: block; }
  button.button, input[type="submit"].button { width: 100%; padding-left: 0px; padding-right: 0px; }
}
ul.button-group.radius li a.button, ul.button-group.radius li a.button.radius, ul.button-group.radius li a.button-rounded { border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
ul.button-group.radius li:first-child a.button, ul.button-group.radius li:first-child a.button.radius { border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
ul.button-group.radius li:last-child a.button, ul.button-group.radius li:last-child a.button.radius { border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
ul.button-group.even a.button { width: 100%; }
.top-bar ul > li.has-button a.button { margin: 0px 11.25px; }
.top-bar ul > li.search form input[type="text"] + .button { border-left-style: none; border-top-left-radius: 0px; border-bottom-left-radius: 0px; float: left; font-size: 12px; margin-top: -1px; padding: 5px 12px 4px; }
.lt-ie9 .top-bar ul li a.button { height: auto; line-height: 30px; margin-top: 7px; }
.reveal-modal.expand { width: 90%; margin-left: -45%; }
.reveal-modal .row { min-width: 0px; margin-bottom: 10px; }
.show-for-small, .show-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .show-for-xlarge { display: none !important; }
.hide-for-xlarge, .show-for-large, .show-for-large-up, .hide-for-small, .hide-for-medium, .hide-for-medium-down { display: block !important; }
@media only screen and (max-width:767px) {
  .show-for-small, .hide-for-medium, .show-for-medium-down, .hide-for-large, .hide-for-large-up, .hide-for-xlarge { display: block !important; }
  .hide-for-small, .show-for-medium, .hide-for-medium-down, .show-for-large, .show-for-large-up, .show-for-xlarge { display: none !important; }
}
table.show-for-xlarge, table.show-for-large, table.hide-for-small, table.hide-for-medium { display: table !important; }
.panel { background-color: rgb(242, 242, 242); border: 1px solid rgb(230, 230, 230); margin: 0px 0px 22px; padding: 20px; background-position: initial initial; background-repeat: initial initial; }
.panel > :first-child { margin-top: 0px; }
.panel > :last-child { margin-bottom: 0px; }
.panel.callout .button { background-color: white; border: none; color: rgb(43, 166, 203); text-shadow: none; background-position: initial initial; background-repeat: initial initial; }
.panel.callout .button:hover { background-color: rgba(255, 255, 255, 0.8); background-position: initial initial; background-repeat: initial initial; }
ul.accordion > li .title { cursor: pointer; background-color: rgb(246, 246, 246); padding: 15px; margin: 0px; position: relative; border-left-width: 1px; border-left-style: solid; border-left-color: rgb(233, 233, 233); border-right-width: 1px; border-right-style: solid; border-right-color: rgb(233, 233, 233); transition: background 0.15s linear; -webkit-transition: background 0.15s linear; background-position: initial initial; background-repeat: initial initial; }
ul.accordion > li .title h1, ul.accordion > li .title h2, ul.accordion > li .title h3, ul.accordion > li .title h4, ul.accordion > li .title h5 { margin: 0px; }
ul.accordion > li .title::after { content: ''; display: block; width: 0px; height: 0px; border-style: solid; border-width: 6px; border-color: transparent rgb(157, 157, 157) transparent transparent; position: absolute; right: 15px; top: 21px; }
ul.accordion > li.active .title { background-color: white; padding-top: 13px; background-position: initial initial; background-repeat: initial initial; }
ul.accordion > li.active .title::after { content: ''; display: block; width: 0px; height: 0px; border-style: solid; border-width: 6px; border-color: rgb(157, 157, 157) transparent transparent; }
table { background-color: rgb(255, 255, 255); border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; margin: 0px 0px 18px; border: 1px solid rgb(221, 221, 221); background-position: initial initial; background-repeat: initial initial; }
table thead, table tfoot { background-color: rgb(245, 245, 245); background-position: initial initial; background-repeat: initial initial; }
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td { font-size: 14px; line-height: 18px; text-align: left; }
table thead tr th, table tfoot tr td { padding: 8px 10px 9px; font-size: 16px; font-weight: bold; color: rgb(34, 34, 34); }
table thead tr th:first-child, table tfoot tr td:first-child { border-left-style: none; }
table thead tr th:last-child, table tfoot tr td:last-child { border-right-style: none; }
table tbody tr:nth-child(even) { background-color: rgb(249, 249, 249); background-position: initial initial; background-repeat: initial initial; }
table tbody tr td { color: rgb(51, 51, 51); padding: 9px 10px; vertical-align: top; border: none; }
.fx-validation-valid, .fx-validation-invalid { background-position: 100% 50%; background-repeat: no-repeat no-repeat; }
.fx-validation-invalid { background-image: url(/images/icon-validation-invalid.gif); }
body.front { background-image: url(/images/beta.png); background-color: white; background-position: initial initial; background-repeat: no-repeat no-repeat; }

.tagcloud div {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.5em;
	background-color: rgb(242, 242, 242);
	display: inline-block;
	padding: 0.1em 0.1em;
  margin: 0px 2px 5px 0px;
  box-sizing: border-box;
  text-decoration: none;
  height: 1.3em;
}

.tagcloud a.expired {
  color: #aaa;
}

.tagcloud a.delete:after {
  content: " ✗"
}

.tagcloud a.delete:hover {
  color: #555;
}

.tagcloud a.delete {
  color: #aaa;
  cursor: pointer;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  float: right;
  display: block;
  text-align: center;
  color: rgb(230, 230, 230);
  cursor: pointer;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: rgb(34, 132, 161);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: rotate(90deg);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(-90deg);
}

.collapsible-content {
  max-height: 1.3em;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
