name: golang-mongodb
services:
  app:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
    - mode: ingress
      target: 8080
      published: 8080
    environment:
    - MONGO_URI=mongodb://$MONGO_INITDB_ROOT_USERNAME:$MONGO_INITDB_ROOT_PASSWORD@db:27017/taskmanager
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:8080/
    depends_on:
    - db
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
  db:
    image: mongo:5
    restart: unless-stopped
    ports:
    - mode: host
      target: 27017
    environment:
    - MONGO_INITDB_ROOT_USERNAME
    - MONGO_INITDB_ROOT_PASSWORD
    volumes:
    - db_data:/data/db
    x-defang-mongodb: true
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
volumes:
  db_data:
    driver: local
