name: jupyter-postgres
services:
  jupyter:
    build:
      context: ./jupyter
    ports:
    - mode: ingress
      target: 8888
      published: 8888
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
    environment:
      JUPYTER_TOKEN: null
      POSTGRES_PASSWORD: null
      DATABASE_HOST: db
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:8888/login
    depends_on:
    - db
  db:
    image: postgres:14
    x-defang-postgres: true
    ports:
    - mode: host
      target: 5432
      published: 5432
    healthcheck:
      test:
      - CMD-SHELL
      - pg_isready -U postgres
    environment:
      POSTGRES_PASSWORD: null
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
