name: django-redis-postgres
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
    - target: 8000
      published: 8000
      mode: ingress
    environment:
    - REDIS_URL=redis://redis-service:6379
    - POSTGRES_URL=postgres://djangouser:${POSTGRES_PASSWORD}@postgres-service:5432/djangodatabase?
    - SECRET_KEY
    healthcheck:
      test:
      - CMD
      - python3
      - -c
      - import sys, urllib.request; urllib.request.urlopen(sys.argv[1]).read()
      - http://localhost:8000/
      interval: 10s
    depends_on:
    - redis-service
    - postgres-service
    - migrate
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
  redis-service:
    image: redis:6.2
    ports:
    - mode: host
      target: 6379
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
  migrate:
    restart: 'no'
    build:
      context: ./app
      dockerfile: Dockerfile
    command: python manage.py migrate
    depends_on:
    - postgres-service
    environment:
    - POSTGRES_URL=postgres://djangouser:${POSTGRES_PASSWORD}@postgres-service:5432/djangodatabase?
    - SECRET_KEY
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
  postgres-service:
    image: postgres:16.4
    ports:
    - mode: host
      target: 5432
    environment:
    - POSTGRES_PASSWORD
    - POSTGRES_DB=djangodatabase
    - POSTGRES_USER=djangouser
    deploy:
      resources:
        reservations:
          cpus: '0.5'
          memory: 512M
