name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: playground
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Deploy
      uses: DefangLabs/defang-github-action@v1.2.0
      with:
        config-env-vars: APP_KEY APP_URL
      env:
        APP_KEY: ${{ secrets.APP_KEY }}
        APP_URL: ${{ secrets.APP_URL }}
