services:
  django:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
    - mode: ingress
      target: 8000
    environment:
    - DEBUG=False
name: django
