services:
  db:
    restart: unless-stopped
    image: postgres:16
    x-defang-postgres: true
    environment:
      - POSTGRES_DB=django
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD
    ports:
      - mode: host
        target: 5432
        published: 5432

    # Adjust resources as needed
    #deploy:
    #  resources:
    #    reservations:
    #      cpus: "1.0"
    #      memory: 512M

  django:
    # uncomment to add your own domain
    # domainname: example.com
    restart: unless-stopped
    build: ./app
    ports:
      - mode: ingress
        target: 8000
        published: 8000
    environment:
      - DB_HOST=db
      - DEBUG=False
      - POSTGRES_USER=django
      - POSTGRES_DB=django
      - POSTGRES_PASSWORD
      - SECRET_KEY
      - ALLOWED_HOSTS
    depends_on:
      - db
