name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: playground
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Deploy
      uses: DefangLabs/defang-github-action@v1.3.2
      with:
        config-env-vars: PROJECT_HONEYPOT_KEY SHARED_SECRETS
      env:
        PROJECT_HONEYPOT_KEY: ${{ secrets.PROJECT_HONEYPOT_KEY }}
        SHARED_SECRETS: ${{ secrets.SHARED_SECRETS }}