name: nodejs-express
services:
  app:
    restart: unless-stopped
    build:
      context: ./app
    ports:
    - mode: ingress
      target: 3000
      published: 3000
    deploy:
      resources:
        reservations:
          memory: 256M
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:3000/
