# Ignore node_modules directory since it will be installed inside the container
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore logs
logs
*.log

# Ignore coverage directory
coverage

# Ignore environment variable files
.env
.env.test

# Ignore local development settings
.sailsrc
.sailsrc.js

# Ignore build outputs
build/
.next/
out/
.cache/
public

# Ignore git directory
.git
.gitignore

# Ignore editor directories and files
.idea
.vscode
*.swp
.tmp