name: sailsjs
services:
  sails:
    restart: unless-stopped
    build:
      context: ./sails
    ports:
      - target: 1337
        published: 1337
        protocol: tcp
        mode: ingress
    volumes:
      - ./sails:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - NODE_ENV=production
    command: sails lift --prod
    deploy:
      resources:
        reservations:
          cpus: "0.5"
          memory: 512M
