services:
  bot:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 8080
    environment:
      - SLACK_TOKEN
      - SLACK_CHANNEL_ID
    #deploy:
    #  resources:
    #    reservations:
    #      memory: 256M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
