name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: playground
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Deploy
        uses: DefangLabs/defang-github-action@v1.3.2
        with:
          config-env-vars: DB_SSL POSTGRES_PASSWORD LLM_MODEL GITHUB_TOKEN
        env:
          DB_SSL: ${{ secrets.DB_SSL }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          LLM_MODEL: ${{ secrets.LLM_MODEL }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
