services:
  app:
    # uncomment to add your own domain
    # domainname: example.com
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - target: 3000
        published: 3000
        mode: ingress
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD:
      POSTGRES_HOST: database
      POSTGRES_PORT: 5432
      POSTGRES_DB: postgres
      POSTGRES_SSL: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000" ]
    depends_on:
      - database

  database:
    image: postgres:16
    x-defang-postgres: true
    environment:
      POSTGRES_PASSWORD:
    ports:
      - target: 5432
        published: 5432
        mode: host
    # Adjust resources as needed
    #deploy:
    #  resources:
    #    reservations:
    #      cpus: "1.0"
    #      memory: 512M