services:
  rails:
    restart: unless-stopped
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      SECRET_KEY_BASE: example # set your own key here.
    ports:
      - mode: ingress
        target: 3000
    deploy:
      resources:
        reservations:
          memory: 1GB