name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      action:
        description: "Whether to deploy up or down"
        required: true
        default: "up"
        type: choice
        options:
          - up
          - down

jobs:
  defang:
    name: Defang ${{ github.event.inputs.action || 'up' }}
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Defang ${{ github.event.inputs.action || 'up' }}
        uses: DefangLabs/defang-github-action@v1.4.0
        with:
          cli-version: nightly # for config-vars-init-random
          config-vars-init-random: DJANGO_SECRET_KEY POSTGRES_PASSWORD
          command: ${{ github.event.inputs.action || 'up' }}
        env:
          DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}

      - name: Deployment Summary
        uses: DefangLabs/defang-github-action@v1.4.0
        with:
          command: services
