name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Deploy
        uses: DefangLabs/defang-github-action@v1.3.2
        with:
          config-env-vars: DJANGO_SECRET_KEY POSTGRES_PASSWORD SSL_MODE
          config-vars-init-random: DJANGO_SECRET_KEY POSTGRES_PASSWORD
        env:
          DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          SSL_MODE: ${{ secrets.SSL_MODE }}
      - name: Deployment Summary
        uses: DefangLabs/defang-github-action@v1.3.2
        with:
          command: services
