services:
  board:
    restart: unless-stopped
    build:
      context: ./board
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 3000
        published: 3000
    environment:
      - REDIS=redis://redisx:6379
      - BOARD_PASSWORD
      - QUEUE
    depends_on:
      - redisx
    #deploy:
    #  resources:
    #    reservations:
    #      memory: 256M

  api:
    restart: unless-stopped
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 3001
        published: 3001
    environment:
      - REDIS=redis://redisx:6379
      - QUEUE
    depends_on:
      - redisx
    #deploy:
    #  resources:
    #    reservations:
    #      memory: 256M

  worker:
    restart: unless-stopped
    deploy:
      replicas: 2
    build:
      context: ./worker
      dockerfile: Dockerfile
    environment:
      - REDIS=redis://redisx:6379
      - QUEUE
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "127.0.0.1:3000"]
    depends_on:
      - redisx
    #deploy:
    #  resources:
    #    reservations:
    #      memory: 256M

  redisx:
    image: redis:6.2
    # Uncomment the following line to use managed redis with Defang BYOC
    # (Not supported on playground)
    #
    # x-defang-redis: true
    restart: unless-stopped
    ports:
      - mode: host
        target: 6379
