services:
  app:
    restart: unless-stopped
    build: ./app
    ports:
      - target: 1337
        published: 1337
        mode: ingress
    environment:
      DATABASE_URL:
      SESSION_SECRET:
      DEBUG:
    command: ["sails", "lift", "--prod"]
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
