services:
  app:
    restart: unless-stopped
    build: ./app
    ports:
    - target: 1337
      published: 1337
      mode: ingress
    environment:
      DATABASE_URL: null
      SESSION_SECRET: null
    command:
    - sails
    - lift
    - --prod
    networks:
    - app-network
    healthcheck:
      test:
      - CMD
      - curl
      - -f
      - http://localhost:1337/
networks:
  app-network:
    driver: bridge
name: sailsjs-postgres
