name: fastapi
services:
  fastapi:
    restart: always
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    ports:
      - mode: ingress
        target: 8000
        published: 8000
    deploy:
      resources:
        reservations:
          cpus: "0.5"
          memory: 512M
