/vendor/
/node_modules/
.env
.env.backup
.phpunit.result.cache
/storage/logs/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/bootstrap/cache/*
!/storage/logs/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/framework/cache/.gitkeep
!/bootstrap/cache/.gitkeep
